# /usr/share/doc/lighttpd/ssl.txt

$SERVER["socket"] == ":443" {
        ssl.engine  = "enable"
        # Le premier nom de domaine listé dans letsencrypt_cert_domains donne son nom au dossier
        # contenant le certificat (nb: on utilise un seul cert multi-domaine).
        ssl.pemfile = "/home/letsencrypt/config/live/{{ letsencrypt_cert_domains|first }}/combined.pem"
        ssl.ca-file = "/home/letsencrypt/config/live/{{ letsencrypt_cert_domains|first }}/fullchain.pem"

        ssl.honor-cipher-order = "enable"
        ssl.cipher-list = "kEECDH+aECDSA:kEECDH+aRSA:@STRENGTH:kEDH+aRSA:!MEDIUM:!LOW:!EXPORT:!RC4:!MD5:!aNULL:!eNULL:-3DES:+SHA1:DES-CBC3-SHA"

        ssl.use-sslv2 = "disable"
        ssl.use-sslv3 = "disable"
}

#$HTTP["scheme"] == "https" {
#        setenv.add-response-header  = ("Strict-Transport-Security" => "max-age=31536000")
#}
