#!/bin/bash
# Some software require privkey + cert combined in a single file...

for dir in $(ls -d {{ letsencrypt_home }}/config/live/*); do
    cat $dir/privkey.pem $dir/fullchain.pem > $dir/combined.pem
    chmod 644 $dir/combined.pem
    chown letsencrypt:www-data $dir/combined.pem
done
