# Intermediate configuration. tweak to your needs.
ssl on;
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;

ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK;

ssl_session_cache  builtin:1000  shared:SSL:10m;
#ssl_session_cache shared:SSL:10m;

# for PFS (perfect forward secrecy)
ssl_dhparam {{nginx_frontend_dhparam_filename}};

# Enable this if your want HSTS (recommended)
#add_header Strict-Transport-Security max-age=15768000;
#add_header Strict-Transport-Security "max-age=15768000; includeSubdomains";

ssl_stapling on;
ssl_stapling_verify on;

# ca certs for startssl
# ssl_trusted_certificate /etc/ssl/ca-certs.pem;
resolver localhost valid=300s;
resolver_timeout 5s;
# OCSP Stapling ---
# fetch OCSP records from URL in ssl_certificate and cache them
#ssl_stapling on;
#ssl_stapling_verify on;
#ssl_trusted_certificate /etc/ssl/startssl/ca.pem;

add_header X-Frame-Options SAMEORIGIN;
