# {{ ansible_managed }}

server {
{% if item.type == 'http' %}
  listen [::]:80;
{% elif item.type == 'https' %}
  listen [::]:443;
{% endif %}
  server_name {{ item.domain }};

{% if item.type == 'https' %}
  include /etc/nginx/ssl.conf;
  {% if item.hsts %}
  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains";
  {% endif %}
  {% if nginx_ssl_cert_file.stat.exists %}
    ssl_certificate {{ nginx_ssl_fullchain_path }};
    ssl_certificate_key {{ nginx_ssl_privkey_path }};
  {% else %}
    ssl_certificate /etc/nginx/snakeoil.crt;
    ssl_certificate_key /etc/nginx/snakeoil.key;
  {% endif %}
{% endif %}

  access_log /var/log/nginx/{{ item.nick|default(item.domain) }}-{{ item.type }}.access.log;
{% if ansible_lsb.codename !=  "wheezy" %}
  error_log /var/log/nginx/{{ item.nick|default(item.domain) }}-{{ item.type }}.error.log;
{% endif %}

{% if item.features is defined %}

  {% if 'no-robots' in item.features %}

  location /robots.txt {
    return 200 "User-agent: *\nDisallow: /";
  }
  {% endif %}

  {% if 'letsencrypt-check' in item.features %}

  location /.well-known/acme-challenge {
    root {{ nginx_letsencrypt_webroot }};
  }
  {% endif %}

  {% if 'ssl-redirection' in item.features %}

  location / {
    rewrite ^ https://$http_host$request_uri? permanent;
  }
  {% endif %}

{% endif %}

{% for k,v in item.vars|default([]) %}

  {{ k }} {{ v }};
{% endfor %}

{% for location in item.locations|default([]) %}

  location {{ location.path }} {
  {% if location.type == 'fastcgi' %}

    fastcgi_param CONTENT_LENGTH $content_length;
    fastcgi_param CONTENT_TYPE $content_type;
    fastcgi_param HTTP_SCHEME {{ item.type }};
    fastcgi_param HTTPS {% if item.type == 'https' %}True{% else %}False{% endif %};
    fastcgi_param PATH_INFO $fastcgi_script_name;
    fastcgi_param QUERY_STRING $query_string;
    fastcgi_param REQUEST_METHOD $request_method;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param SERVER_ADDR $server_addr;
    fastcgi_param SERVER_NAME $server_name;
    fastcgi_param SERVER_PORT $server_port;
    fastcgi_param SERVER_PROTOCOL $server_protocol;
    fastcgi_pass {{ location.target }};
  {% elif location.type in ('reverse-proxy', 'reverse-proxy-websocket') %}
    proxy_pass {{ location.target }};
    proxy_set_header Host $host;
    {% if location.type ==  'reverse-proxy-websocket' %}
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
    {% endif %}

  {% elif location.type == 'static' %}

    {% if location.root is defined %}root {{ location.root }};{% endif %}
    {% if location.target is defined %}alias {{ location.target }};{% endif %}

  {% elif location.type == 'domain-redirection' %}
    rewrite ^ {{ location.target }}$request_uri permanent;

  {% endif %}
  {% for k,v in location.vars|default([]) %}

    {{ k }} {{ v }};
  {% endfor %}

  }
{% endfor %}

}
