DEVICE={{ dropbear_fde_initramfs_interface }}
IP={{ dropbear_fde_initramfs_ip }}::{{ dropbear_fde_initramfs_gateway }}:{{ dropbear_fde_initramfs_netmask }}::{{ dropbear_fde_initramfs_interface }}:off
